%h1 like_tweets

= link_to 'ユーザーのページに戻る',user_path(current_user.screen_name)


%ul
  - @like_tweets.each do |like_tweet|
    - tweet = Tweet.find_by(id: like_tweet.id)
    %li= tweet.content
    - if tweet.type == "TweetImage"
      = image_tag tweet.image.image.to_s