.container
  %h1 like_tweets

  = link_to 'ユーザーのページに戻る',user_path(current_user.screen_name), class: 'btn btn-info'

  %p
  - @like_tweets.each do |like_tweet|
    - tweet = Tweet.find_by(id: like_tweet.id)
    = render partial: "shared/tweet",locals: { tweet: tweet }