%h1 Welcome#index

- if user_signed_in?
  = link_to "プロフィルを編集できるだなも",edit_user_registration_path
  %ul
    - @users.each do |user|
      %li= link_to "#{user.screen_name}のページ",user_path(user.screen_name)
- else
  = link_to "ログインするなだも",user_session_path

